<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Scand.Web</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a style="cursor: pointer" v-if="$auth.check()" @click="logout" :exact="true">
                            <span class="glyphicon glyphicon-log-out"></span> Logout
                        </a>
                    </li>
                    <li>
                        <router-link to="/" :exact="true">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </router-link>
                    </li>
                    <li v-if="!$auth.check()">
                        <router-link to="/login">
                            <span class="glyphicon glyphicon-log-in"></span> Login
                        </router-link>
                    </li>
                    <li v-if="$auth.check()">
                        <router-link to="/subscriptions">
                            <span class="glyphicon glyphicon-th-list"></span> Subscriptions
                        </router-link>
                    </li>
                    <li v-if="$auth.check()">
                        <router-link to="/orders">
                            <span class="glyphicon glyphicon-th-list"></span> Orders
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css" />
<script src="./navmenu.js"></script>