<template>
    <vue-modaltor :visible="visible" @hide="hide" :default-width="'30%'" :resize-width='{1200:"30%",992:"50%",768:"60%"}' :bg-overlay="'rgba(56, 56, 56, 0.33)'" :bgPanel="'rgba(255, 255, 255, 1)'" :animation-panel="'modal-slide-right'">
        <h2>Subscribe {{subscription.name}}</h2>

        <div class="row p-5">
            <div class="col-sm-12 form-inline">
                <label>
                    Select months
                </label>
                <select class="form-control" v-model="months">
                    <option v-for="i in 24">{{i}}</option>
                </select>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 form-inline">
                <label>
                    Select currency
                </label>
                <select class="form-control" v-model="currency">
                    <option v-for="i in currencies" :value="i.id">{{i.name}}</option>
                </select>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-sm-12 form-inline">
                <label>
                    Amount {{amount}} {{currencies[currency].name}}
                </label>
            </div>
        </div>
        <button class="btn btn-success" @click="subscribe">Subscribe</button>
    </vue-modaltor>        
</template>

<script src="./subscribeModal.js"></script>