<template>
    <div>
        <h1>Subscritpions </h1>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <div class="form-group">
                    <label for="filter" class="sr-only">Filter</label>
                    <input type="text" class="form-control" v-model="filter" placeholder="Filter">
                </div>
            </div>
        </div>
        <div class="row">
            <div id="table" class="col-xs-12 table-responsive">
                <datatable :columns="columns" :data="subscriptions" :filter-by="filter">
                    <template scope="{ row, columns }">
                        <tr>
                            <template>
                                <datatable-cell v-for="(column, j) in columns" :key="j" :column="column" :row="row"></datatable-cell>
                                <td>
                                    <button v-if="$auth.check('Admin')" class="btn btn-xs btn-primary">
                                        <span class="glyphicon glyphicon-remove" @click="remove(row)"></span>
                                    </button>
                                    <button class="btn btn-xs btn-primary">
                                        <span class="glyphicon glyphicon-plus" @click="openSubscribeModal(row)"></span>
                                    </button>
                                </td>
                            </template>
                        </tr>
                    </template>
                </datatable>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-inline">
                <datatable-pager v-model="page" type="abbreviated" :per-page="per_page"></datatable-pager>
                <button class="btn btn-success" v-if="$auth.check('Admin')" @click="showAddForm">Add subscription</button>
                <button class="btn btn-info" v-if="showAddComponent" @click="hideAddForm">Hide form</button>
            </div>
        </div>
        <add-subscription v-if="$auth.check('Admin') && showAddComponent" @subscriptionAdded="subscriptionAdded"></add-subscription>
        <subscribe-modal :visible="showSubscribeModal" :subscription="curentSubscription" @newOrder="newOrder" @hide="hideSubscribeModal"></subscribe-modal>        
        <order-modal :visible="showOrderModal" :order="curentOrder" @hide="hideOrderModal"></order-modal>
    </div>
</template>

<script src="./subscriptions.js"></script>