<template>
    <div>
        <h1>Scand test app</h1>
        <p>Go to login:</p>
        <ul>
            <li><strong>admin@admin.com</strong> Administrator account, can add subscriptions</li>
            <li><strong>user@admin.com</strong> User account</li>
            <li><strong>12345O_o</strong> Password for all</li>
        </ul>
    </div>
</template>