<template>
    <div id='app-root' class="container-fluid">
        <div class="row">
            <div v-if="$auth.ready()">
                <div class="col-sm-3">
                    <menu-component />
                </div>
                <div class="col-sm-9">
                    <router-view></router-view>
                </div>
            </div>
            <div v-if="!$auth.ready()">
                Loading ...
            </div>
        </div>
    </div>
</template>

<script src="./app.js"></script>
