<template>
    <vue-modaltor :visible="visible" @hide="hide" :default-width="'30%'" :resize-width='{1200:"30%",992:"50%",768:"60%"}' :bg-overlay="'rgba(56, 56, 56, 0.33)'" :bgPanel="'rgba(255, 255, 255, 1)'" :animation-panel="'modal-slide-right'">
        <div v-if="order">
            <h2>Order for {{order.subscriptionName}}</h2>
            <div class="row p-5">
                <div class="col-sm-12 form-inline">
                    <label>
                        Status {{order.status}}
                    </label>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-12 form-inline">
                    <label>
                        Address to pay {{order.addressToPay}}
                    </label>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-12 form-inline">
                    <label>
                        Amount {{order.amount}} {{order.currency}}
                    </label>
                </div>
            </div>
            <div class="row p-5">
                <div class="col-sm-12 form-inline">
                    <label>
                        Created {{order.created}}
                    </label>
                </div>
            </div>
            <qrcode v-if="order.currency === 'BTC'" :value="btcQrValue"></qrcode>
            <!--<button v-if="order.currency === 'ETH'" class="btn btn-success" @click="payEth">Pay with Metamask</button>-->
        </div>
        <div v-else>
            <h1>Oreder is empty</h1>
        </div>
    </vue-modaltor>
                
</template>

<script src="./orderModal.js"></script>