﻿<template>
    <div>
        <h1>Scand</h1>
        <h3>Login</h3>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" v-model="email" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" v-model="password">
            </div>
            <div class="form-group">
                <button v-on:click="login" class="btn btn-info">Login</button>
            </div>
        </div>
    </div>
</template>

<script src="./login.js"></script>