<template>
<div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Add sunscription
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" v-model="name" />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Price in ETH per month</label>
                                <input type="text" class="form-control" placeholder="Price in whei per month" v-model="priceInETHPerMonth" />
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label>Price in BTC per month</label>
                                <input type="text" class="form-control" placeholder="Price in BTC per month" v-model="priceInBTCPerMonth" />
                            </div>
                        </div>
                        <button class="btn btn-success" @click="addSubscription">Add</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./addSubscription.js"></script>