<template>
    <div>
        <h1>Orders</h1>

        <div class="row">
            <div class="col-xs-12 form-inline">
                <div class="form-group">
                    <label for="filter" class="sr-only">Filter</label>
                    <input type="text" class="form-control" v-model="filter" placeholder="Filter">
                </div>
            </div>
        </div>
        <div class="row">
            <div id="table" class="col-xs-12 table-responsive">
                <datatable :columns="columns" :data="orders" :filter-by="filter">
                    <template scope="{ row, columns }">
                        <tr>
                            <template>
                                <datatable-cell v-for="(column, j) in columns" :key="j" :column="column" :row="row"></datatable-cell>
                                <td>
                                    <button class="btn btn-xs btn-primary">
                                        <span class="glyphicon glyphicon-plus" @click="openOrderModal(row)"></span>
                                    </button>
                                </td>
                            </template>
                        </tr>
                    </template>
                </datatable>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-inline">
                <datatable-pager v-model="page" type="abbreviated" :per-page="per_page"></datatable-pager>
            </div>
        </div>
        <order-modal :visible="showOrderModal" :order="curentOrder" @hide="hideOrderModal"></order-modal>
    </div>
</template>

<script src="./orders.js"></script>